
<div class="main-wrap">
  <script>
  /*
    $(document).ready(function(){
      $('a').colorbox({
        inline: true
      }).click(function(){
        setTimeout(function(){
          $.colorbox.close();
        },3000);
      }).trigger('click');
    });
    */
  </script>

  <h1>드린킨 홈페easy입니다.</h1>
  <p>많이 사랑해주세요!</p>

  <%# 
  <base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">
  <div id="slider">
    <figure>
      <img src="austin-fireworks.jpg" alt>
      <img src="taj-mahal_copy.jpg" alt>
      <img src="ibiza.jpg" alt>
      <img src="ankor-wat.jpg" alt>
      <img src="austin-fireworks.jpg" alt>
    </figure>
  </div> %> 


  <div id="slider">
    <figure>
      <img src="https://cdn.pixabay.com/photo/2018/07/04/00/19/champagne-3515140_1280.jpg" alt>
      <img src="https://cdn.pixabay.com/photo/2017/01/31/20/48/aperitif-2027177_1280.jpg" alt>
      <img src="ibiza.jpg" alt>
      <img src="ankor-wat.jpg" alt>
      <img src="austin-fireworks.jpg" alt>
    </figure>
  </div>
</div>