<div class="main-wrap">
  <script>
    onload  = start;

    function start(){	
    var i = 1;
    function Move(){ 	
      i = (i%4)+1; // 4 is the Number of image in slider
      document.getElementById('i'+i).checked = true;
    }
    setInterval(Move,3000); //change img in 3 sec
    }
  </script>
<%# 
  <h1>드린킨 홈페easy입니다.</h1>
  <p>많이 사랑해주세요!</p> %>
<%# 
	<div class="container">
		<input type="radio" id="i1" name="images" checked/>
		<input type="radio" id="i2" name="images" />
		<input type="radio" id="i3" name="images" />
		<input type="radio" id="i4" name="images" />
		
		<div class="slide_img" id="one"></div>
		<div class="slide_img" id="two"></div>
		<div class="slide_img" id="three"></div>
		<div class="slide_img" id="four"></div>

		<div id="nav_slide">
			<label for="i1" class="dots" id="dot1"></label>
			<label for="i2" class="dots" id="dot2"></label>
			<label for="i3" class="dots" id="dot3"></label>
			<label for="i4" class="dots" id="dot4"></label>
		</div>
	</div> %>
</div>