<h1>FAQ</h1>
<p>문의 하시기 전 FAQ를 이용하시면 빠르게 해결하실 수 있습니다.^^</p>

<ul>
    <li>
        <div>
            <span>Q</span>
            <span>드린킨 서비스는 어떤것인가요?</span>
        </div>
        <div>
            <span>A</span>
            <span>드린킨은 손쉽게 견적을 받을 수 있는 와인 구매 B2B플랫폼입니다.</span>
        </div>
    </li>
    <br/>
    <li>
        <div>
            <span>Q</span>
            <span>사용 절차가 어떻게 되나요?</span>
        </div>
        <div>
            <span>A</span>
            <span>회원가입하시고 주문하기에서 주문하실 와인을 선택하시고 완료하시면 수입사로부터 견적을 받을 수 있습니다!</span>
        </div>
    </li>
    <br/>
    <li>
        <div>
            <span>Q</span>
            <span>견적이 좋은데 직접 만나보려면 계약을 꼭 해야하나요?</span>
        </div>
        <div>
            <span>A</span>
            <span>아니요! 저희는 절대로 영업사원이나 오프라인을 통해서 만나지 않고 쉽게 계약을 할 수 있습니다!</span>
        </div>
    </li>
    <br/>
    <li>
        <div>
            <span>Q</span>
            <span>유료 서비스인가요?</span>
        </div>
        <div>
            <span>A</span>
            <span>아니요! 저희는 점주님들의 편의를 위해서 일하고 있습니다~ 기부는 언제나 환영입니다 :)</span>
        </div>
    </li>
    <br/>
    <li>
        <div>
            <span>Q</span>
            <span>주류 도매사는 어떻게 파트너로 등록하나요?</span>
        </div>
        <div>
            <span>A</span>
            <span>그건 쉿! 비밀~</span>
        </div>
    </li>
</ul>