<h1> Who is Drinkin? </h1>

<h2> 1. 우리는? </h2>
  <p> 대한민국 성인남녀와, 전국 70만 여 주류 업계에 종사하는 소상공인이 우리의 IT기술을 통해 기존 주류 유통시장의 폐쇄적인 유통구조가 변화했다는 것을 느끼게하고 색다른 컨텐츠로 대한민국 주류 문화를 선도해나갈 OPEN형 웹 주류 플랫폼 드링킨입니다. </p>
</br></hr>

<h2> 2. 우리가 바라본 문제점은? </h2>
  <ol>
    <li> 주류 유통구조 상 문제점. 폐쇄적이고 전통적임. IT기술로 풀어낼 수 있겠다. </li>
    <li> 대한민국 잘 못된 주류 문화. 소비자의 와인에 대한 정보 부족, 불이익. 정보의 격차로 인해 입는 소비자의 피해. 모두 우리의 젊은 감각의 컨텐츠로 해결할 수 있겠다. </li>
  </o1>
</br></br></br></hr>

<h2> 3. 그래서 우리의 브랜드 비전 </h2>
  <p> 오늘의 가능성에 가치를 두고 대한민국 주류 문화를 선도한다. </p>
</br></hr>

<h2> 4. 우리의 브랜드 미션 </h2> 
  <ol>
    <li> 색다른 주류 유통구조를 제시한다 </li>
    <li> 대한민국 주류 문화를 선도한다 </li>
    <li> 매력적인 와인의 대중화 </li>
  </ol>
</br></br></hr>

<h2> 5. 우리의 핵심 삼대가치 </h2>
  <ol>
    <li> Trust </br>
    믿고 구매하고, 믿고 볼 만한. 그리고 서로를 신뢰하는 기업문화. </li>
    <li> Harmony </br>
    현재 중소형와인수입사와의 조화. 그리고 폐쇄적인 주류 유통구조를 해결하기 위해선 급진적인 행동보다 조화를 통해 차근차근히 바꿔나갈 필요. 
    그리고 술자리에서 가장 중요한 것은 사람들 간의 조화. </li>
    <li> Wit & Cynical </br>
    (black comedy에서 출발한 가치: 풍자)
    흥미롭고 재미있으면서도 무게가 담긴 컨텐츠. 단지 타임킬링용이 아닌 정말 배우고 생각해볼만한 컨텐츠.  </li>
  </ol>
</br></br></br></br></br></br></br></br></hr>

<h2> 6. 재정의 </h2>
<p> 오늘의 가능성? 
대한민국에서 자주 마시던 소주나 맥주는 과거를 주로 논하는 술이다. (내가 젊었을 땐 말야, 등) 굉장히 왁자지껄한 분위기가 잘 어울리며 사색과는 어울리지 않는다. 현대 사회의 대부분 문제점은 현대인들의 사색할 시간 부족에서 온다. 
  값비싼 와인이 아닌, 와인 문화 자체가 차분한 분위기에 사색을 통해 여러 이야기를 나누기 좋은 문화를 가지고 있다. 
  삼포는 기본으로 가지고 있는 현대 사회인들의 지루한 오늘을 와인과 색다른 주류문화 제시로 가능성 넘치는 오늘로 만들고 더 나은 사회와 미래를 만들어내자. </p>
<ol>
  <li> 다르게 보기 </li>
  <li> 새로운 사람과, 잔과 마주하기 </li>
</ol>
</br></br></br></hr>

<h2> 7. 진행할 서비스는? </h2>
<p>
  오픈형 웹 주류 플랫폼, 드링킨 
  1) 신규고객들 – 와인수입사 연결 
    1) 와인바
    2) 와인샵
    3) 와인레스토랑
    4) 파티, 등 대량 구매 개인고객
  2) 발주관리 : 기존 고객 – 와인수입사 연결
    1) 재발주 데이터 전송 / 관리 
    2) 위치기반 서비스 제공 : 최적 배송 이동경로 데이터 제공 (GPS, 구글맵api), 거래처 위치, 공영주차장, 주차 정보, 위치 기반한 매출 데이터 안내 
  3) 컨텐츠 유통 및 판매 
  – 드링킨 스튜디오 : 와인터뷰, 와인의밤, 등
  1) 우리 고객들 대상으로 메일링 : 업계 소식, 정보, 여기에 광고, 구인광고, 등 
  2) 와인수입사, 레스토랑, 바 컨설팅 가능 : 이 플랫폼 운영으로 생긴 데이터들로 전문적인 컨설팅 가능. 
  3) 그 데이터로 우리가 샵이나, 바, 수입사까지 진출해도 될 듯. 
  4) 국가가 지원하는 전통주 시장 : 합법적 배송 가능 
</p>
</br></br></hr>

<h2> 8. 더하며, </h2>
<p>
  1) `고객, 로그인 시에 
    - 여러 와인 수입사 정보 뜸
    - 와인 선택, 수량 선택
    - 컨펌 -> 데이터 전송 
  2) 와인수입사, 로그인 시에 
    - 당일 고객 발주 내역 : 타임보드 
    - 배송 최적 데이터 확인 가능 : GPS 
    - 거래처 정보 확인 가능 : 매출 현황 
  3) 관리자, 로그인 시에 
    - GPS기반 한국 내 시장 분석 
    - 어떤 와인이 잘 나가는지, 
    - 어떤 지역에 와인이 잘 팔리는지
    - 데이터 축적. 
</p>

  <head>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    function moveSlider(index){
        // 이미지 슬라이더 이동
        var willMoveLeft = -(index * 600);
        $('.slider_panel').animate({left:willMoveLeft}, 'normal');
        
        // control_button에 active 클래스 부여 및 제거
        $('.control_button[data-index='+index+']').addClass('active');
        $('.control_button[data-index!='+index+']').removeClass('active');
    };
    
    $(document).ready(function(){ 
        $('.control_button').each(function(index){
            $(this).attr('data-index', index);
        }).click(function(){
            var index = $(this).attr('data-index');
            moveSlider(index);
        });
    });
</script>
</head>
<body>
    <div class='animation_canvas'>
        <div class='slider_panel'>
            <img class='slider_image' <%= image_tag ('logo.png') %> />
            <img class='slider_image' src='http://www.bmw.co.kr/content/dam/bmw/common/all-models/m-series/x5m/2014/images-and-videos/1920x1200_02.jpg.resource.1416242346067.jpg/jcr:content/renditions/cq5dam.resized.img.890.medium.time1448007286505.jpg'/>
            <img class='slider_image' src='http://cfile25.uf.tistory.com/image/2177C74A5735827A06C13A'/>
            <img class='slider_image' src='http://img1.daumcdn.net/thumb/R720x0.q80/?scode=mtistory&fname=http%3A%2F%2Fcfile7.uf.tistory.com%2Fimage%2F213F1F46556C25A9189CE6'/>
            <img class='slider_image' src='https://homepage1.kr:40100/ch501/seoulnam/data/file/78/3077404210_YJX5c7PN_5R_EC82B0ED86A0EBA6ACEB8B88_.22.jpg'/>
        </div>
        <div class='control_panel'>
            <div class='control_button'></div>
            <div class='control_button'></div>
            <div class='control_button'></div>
            <div class='control_button'></div>
            <div class='control_button'></div>
        </div>
    </div>   
</body>