<h1>주문하기</h1>
<div id="row">
    <div class="items">
        <p>레드 와인</p>
        <ul>
            <li><a href="#">민경누나꺼</a></li>
            <li><a href="#">민경와인</a></li>
            <li><a href="#">UX Overview</a></li>
            <li><a href="#">Design Patterns</a></li>
            <li><a href="#">UI Components</a></li>
        </ul>
    </div>
    <div class="items">
        <p>화이트 와인</p>
        <ul>
            <li><a href="#">Design Principles</a></li>
            <li><a href="#">Styles</a></li>
            <li><a href="#">UX Overview</a></li>
            <li><a href="#">Design Patterns</a></li>
            <li><a href="#">UI Components</a></li>
        </ul>
    </div>