<head>
  <script>
    /*
    var dbTestRef = firebase.database().ref('test/');
    dbTestRef.on('value',function(snapshot){
      console.log(snapshot.val());
    });
    */
    
    var nameStack = new Array();

    function send(){
      var infoBox = document.getElementById('info');
      infoBox.value = nameStack;

      var sum = 0;
      for(var i = 0; i< nameStack.length; i++){
        sum += parseInt(document.getElementById(i).value);
      }
      
      if(sum < 12){
        event.cancelBubble = true;

        alert('최소 주문 갯수는 12개입니다.');
        return false;
        if(event.stopPropagation){
          event.stopPropagation();
        }
      }
      else{
        alert('성공!');
      }
    }

    function namePush(item){
      nameStack.push(item);
    }
  </script>
</head>

<body>
  <h1 id="head">결제하기</h1>
    <script> var id_num = 0; </script>
    <form action = "/receipt/index" method = "get" onsubmit = "return send()">
      <% for i in 0..@value.length-1 %>
        <label><%= @value[i] %></label>
        <lable>개수</label>
        <input type = 'number' name = <%= @value[i] %> id = <%= i %>></input>
        <script>
          id_num++;
        </script>
        <% end %>
      <br/>
      <script>
        for(var i = 0; i < id_num; i++ )
        namePush(document.getElementById(i).name);
      </script>
      <input type = "hidden" name = "buyInfo" id = "info"></input>
      <input type = "submit" value = "결제하기"></input>
    </form>

</body>