<h1>결제하기</h1>

<form action = "#" method = "post">
  <table>
    <tr>
      <th>속성</th>
      <th>개수</th>
    </tr>
    <tr>
      <td>음료</td>
      <td>레드와인</td>
    </tr>
    <tr>
      <td>수량</td>
      <td><input type="text" name = "amount"></input>
    </tr>
    <tr>
      <td>주소</td>
      <td><input type="text" name = "adress"></input>
    </tr>
  </table>
  <input type="submit" value = "결제"></input>
</form>
