<h1>내정보</h1>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI6dIFHdZYaJObkEq7I-Zvcip3S-bgqDA&callback=initMap" async defer></script>
<script>
  function initMap() {
    var cnt = 1; //마커 카운트 해서 우선 2개만 제한
    var initLatLng = {lat: 37.504147, lng: 126.956954};
    var geocoder = new google.maps.Geocoder;
    var map = new google.maps.Map(document.getElementById('map'), {
        center: initLatLng,
        zoom: 15
    });
    // 기본 마커 - 지도 생기면 중심에 찍혀있는 것
    var basicMarker = new google.maps.Marker({
        position: initLatLng,
        map: map, //map을 선택 안해주면 마커는 생성되지만 표시는 안됨 이 경우는 setmap으로 나중에 호출할 수 있음
        draggable: true
    });
  }
</script>

<div id="map" style="width: 500px; height: 500px;">
</div>

