// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .main-wrap{
//   position: fixed;
//   top: 10px;
//   left: 0px;
// }
.new-wrap{
 	margin: 120px 50px;
	padding: 50px 50px 50px 10px;
}

.container div#one {
  display: block;
  background-image: url('wine1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.container div#two {
  display: block;
  background-image: url('wine2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.container div#three {
  display: block;
  background-image: url('wine3.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}
.container div#four {
  display: block;
  background-image: url('wine4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

$magenta: rgb(128, 22, 14);

.container {
	margin: 0 auto;
	position: relative;
	width: 100%;
	height: 50%;
	padding-bottom: 50%;
	user-select: none;

	input {
		display: none;
	}

	.slide_img {
		position: absolute;
		width: 150%;
		height: 100%;
		z-index: -1;

		img {
			width: inherit;
			height: inherit;
		}
	}

	#nav_slide {
		width: 100%;
    bottom: 12%;
    height: 11px;
    position: absolute;
    text-align: center;
    z-index: 99;
    cursor: default;
    left: 0%;
    transform: translateX(50%);

		.dots {
			top: -5px;
			width: 18px;
			height: 18px;
			margin: 0 3px;
			position: relative;
			border-radius: 100%;
			display: inline-block;
			background-color: rgba(0, 0, 0, 0.6);
			transition: 1s;
			cursor: pointer;
		}
		
		#dot1:hover {background: $magenta;}
    #dot2:hover {background: $magenta;}
    #dot3:hover {background: $magenta;}
    #dot4:hover {background: $magenta;}
	}
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four {
	z-index: 9;
	animation: slider 1s ease-in-out;
}

#i1:checked ~ #nav_slide #dot1 {background: $magenta;}
#i2:checked ~ #nav_slide #dot2 {background: $magenta;}
#i3:checked ~ #nav_slide #dot3 {background: $magenta;}
#i4:checked ~ #nav_slide #dot4 {background: $magenta;}



@keyframes slider {
    // from {opacity: 1;}
    // to {opacity: 0.1;}
}


// @media (man-width: 768px) {
//   .container {
// 		border: none;
//     width: 100%;
// 		height: 50%;
//     // padding-bottom: 50%;
//   }

// 		#nav_slide .dots {
// 			width: 12px;
// 			height: 12px;
// 		}
// }

// @media (min-width: 1024px) {

// }

// @media (max-width: 1366px) {
  
// }
