// Place all the styles related to the order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
body {
    margin:50px auto;
    width: 600px;
}
#row {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px 10px 5px;
    background: #efefef;
    width: 600px;
}

#row .items {
    display: inline-block;
    margin-left: 10px;
    width: 160px;
}

#row .items:first-child {
    margin-left: 0;
}

#row .items p {
    margin-bottom: 8px;
    text-indent: 7px;
}

#row .items ul {
    border-radius: 3px;
    border: 1px solid #b5b5b5;
    height: 135px;
    overflow-y: scroll;
    padding: 3px 3px 8px;
    background: #fff;
}

#row .items ul li {}

#row .items ul li a {
    display: block;
    overflow: hidden;
    margin-top: 8px;
    padding: 3px;
    color:black;
    font-size:12px;
    text-decoration:none;
}

#row .items ul li:first-child a {
    margin-top: 3px;
}

#row .items ul li.on a {
    border: 1px solid #c9cccf;
    border-radius: 3px;
    font-weight: bold;
    background-color: #efefef;
}
*/

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
  .tabs {
    max-width: 640px;
    margin: 0 auto;
    padding: 0 20px;
  }
  #tab-button {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #tab-button li {
    display: table-cell;
    width: 20%;
  }
  #tab-button li a {
    display: block;
    padding: .5em;
    background: #eee;
    border: 1px solid #ddd;
    text-align: center;
    color: #000;
    text-decoration: none;
  }
  #tab-button li:not(:first-child) a {
    border-left: none;
  }
  #tab-button li a:hover,
  #tab-button .is-active a {
    border-bottom-color: transparent;
    background: #fff;
  }
  .tab-contents {
    padding: .5em 2em 1em;
    border: 1px solid #ddd;
  }
  
  
  
  .tab-button-outer {
    display: none;
  }
  .tab-contents {
    margin-top: 20px;
  }
  @media screen and (min-width: 768px) {
    .tab-button-outer {
      position: relative;
      z-index: 2;
      display: block;
    }
    .tab-select-outer {
      display: none;
    }
    .tab-contents {
      position: relative;
      top: -1px;
      margin-top: 0;
    }
  }