// Place all the styles related to the order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    margin:50px auto;
    width: 600px;
}
#row {
    white-space: nowrap;/* 가로스크롤시 중요한 속성 */
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px 10px 5px;
    background: #efefef;
    width: 600px;
}

#row .items {
    display: inline-block;
    margin-left: 10px;
    width: 160px;
}

#row .items:first-child {
    margin-left: 0;
}

#row .items p {
    margin-bottom: 8px;
    text-indent: 7px;
}

#row .items ul {
    border-radius: 3px;
    border: 1px solid #b5b5b5;
    height: 135px;
    overflow-y: scroll;
    padding: 3px 3px 8px;
    background: #fff;
}

#row .items ul li {}

#row .items ul li a {
    display: block;
    overflow: hidden;
    margin-top: 8px;
    padding: 3px;
    color:black;
    font-size:12px;
    text-decoration:none;
}

#row .items ul li:first-child a {
    margin-top: 3px;
}

#row .items ul li.on a {
    border: 1px solid #c9cccf;
    border-radius: 3px;
    font-weight: bold;
    background-color: #efefef;
}