body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: 'Poppins', 'KoPubDotumMedium' !important; 
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #b1003c;
    // background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}


.field_with_errors {
  border: none;
  border-bottom: 2px solid #ffea99; 
}

#error_explanation {
  margin: 10px 0;
  padding: 30px;
  border-radius: 3px 3px 3px 3px;
  color: #9F6000;
  background-color: #fcf8e3;
  border: 1px solid transparent;
  border-color: #faebcc;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 17px;
    margin: -7px -7px 0;
    color: #8a6d3b;
  }

  ul li {
    display: flex;
    justify-content: left;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
  }
}

label {
  display: block;
}
